<div class="row">
  <%= render partial: 'common/left_side_bar' %>
  <div class="col-md-9">
    <div class="row">
      <h5>You can also call us on: 0123 176 3838</h5>
      Our phone lines are open:<br/>
      Monday to Friday 09.00 – 18.00<br/>
      Saturday 09.00 – 17.30<br/>
    </div>
</div>
