 //colors
 $color_new_york_pink_approx: #d17581;
 $color_mine_shaft_approx: #333;

 body {
 	padding-top: 70px;
 }
 .slide-image {
 	width: 100%;
 }
 .carousel-holder {
 	margin-bottom: 30px;
 }
 .carousel-control {
 	//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
 	border-radius: 4px;
 }
 .item {
 	//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
 	border-radius: 4px;
 }
 .caption {
 	height: 130px;
 	overflow: hidden;
 	h4 {
 		white-space: nowrap;
 	}
 }
 .thumbnail {
 	padding: 0;
 	img {
 		width: 100%;
 	}
 	.caption-full {
 		padding: 9px;
 		color: $color_mine_shaft_approx;
 	}
 }
 .ratings {
 	padding-right: 10px;
 	padding-left: 10px;
 	color: $color_new_york_pink_approx;
 }
 footer {
 	margin: 50px 0;
 }

.vert-padding-top-1 {
  padding-top: 0.5em;
}

.vert-padding-top-2 {
  padding-top: 2em;
}

.border {
  border:solid 1px black;
  background-color:#ededed;
}

/* product images */
.thumbnail img.thumbnail_image, .thumbnail_image , .thumbnail img {
  width: auto;
  max-width: none;
}

/* cart */
.cart-table .thumbnail_image {
  width: 68px;
}

/* search page */
.search .product_filter {
  width: 200px;
}

#error_explanation {
  color: #a94442;
}
