<div class="col-md-3">
  <p class="lead">My Account</p>
  <div class="list-group">
    <%= link_to('Edit Profile', edit_user_registration_path, class: 'list-group-item') %>
    <% unless is_admin? %>
      <%= link_to('My Orders', myorders_path, class: 'list-group-item') %>
    <% end %>
    <%= link_to('Change Password', my_account_change_password_path, class: 'list-group-item') %>
  </div>
</div>
